/*
 * Globals
 */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Links */
a {
  color: rgb(255, 255, 255);
}
a:focus,
a:hover {
  color: #eff5f1 !important;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(255, 254, 254);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #4c7d91;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background: url(../img/bg11.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: .3rem;
}

.cover-container {
  margin:  0;

}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0.5rem;
}

.nav-masthead .nav-link {
  padding: 0.25rem 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.55);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

/*
* Main
*/

img {
  max-width:200px;
  display: block;
  border: 1px solid rgb(195, 195, 197);
  margin: auto;
}

/* 
* Projects Page
 */

.project_list {
  margin: 2rem 0.1rem 1.3rem;
}

.project {
  background: linear-gradient(
    -135deg,
    rgb(88, 88, 88) 0%,
    rgb(29, 29, 29) 100%
  );
  padding: 0 0 2rem 0;
  margin: 1.4rem 0;
  z-index: 5;
}
.projectImage img {
  width: 100%;
  border: none;
  margin: 0;
}

.projectLink:focus,
.projectLink:hover {
  border-bottom: 2px solid #d2d9d4;
  transition: border-bottom 0.1s ease;
  cursor: pointer;
}

@media (min-width: 765px) {
    

  .project_list {
    flex-flow: wrap;
  }
  .project {
    width: 350px;
  }

  .projectImage * {
    height: 350px;
  }
}

/* 
* ContactMe Page
 */
.contactMeBackground,
.homeBackground {
  width: 100vw;
  display: block;
}
.smartblue {
  color: #d2d9d4;
}
.content{
  max-width: 995px;
  margin: auto;
   
}


